<header>
    <!-- Logo -->
    <img src="https://i.postimg.cc/N0LKcsJ2/wewe.jpg" alt="logo">
    
    <!-- Burger Menu Button -->
    <button class="burger-menu" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  
    <!-- Navigation -->
    <nav [class.active]="menuOpen">
      <a routerLink="" class="nav" (click)="closeMenu()">HOME</a>
      <a routerLink="/about" class="nav" (click)="closeMenu()">BOUT</a>
      <a routerLink="/characters" class="nav" (click)="closeMenu()">CTERS</a>
      <a routerLink="packs" class="nav" (click)="closeMenu()">ACKS</a>
      <a class="register" routerLink="/register" (click)="closeMenu()">STER</a>
      <a class="login" routerLink="/login" (click)="closeMenu()">OGIN</a>
      <a routerLink="cart" class="cart" (click)="closeMenu()">
        <img src="https://img.icons8.com/sf-black-filled/50/shopping-cart.png" alt="cart">
        <span *ngIf="cartItemCount > 0" class="cart-count">{{ cartItemCount }}</span>
      </a>
  
      <!-- Language Switcher -->
     
    </nav>
  </header>
  
