/* footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(29,24,25);
    height: 8vh;
    align-items: center;
}

p{
    color: rgb(107, 28, 28);
    margin-left: 10px;
}

a {
    margin-right: 40px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: rgb(139, 37, 37);
    padding: 8px;
    border-radius: 12px;
    border: 2px solid black;
}

a:hover {
    background-color: black;
    color: rgb(139, 37, 37);
    transition: 0.5s;
    border: 2px solid rgb(139, 37, 37);
} */

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(29,24,25);
    padding: 13px 40px;
    align-items: center;
    min-height: 10vh;
}

p{
    color: rgb(146, 145, 145);
}

.download {
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: beige;
    padding: 8px;
    border-radius: 12px;
    border: 2px solid black;
}

.download:hover {
    background-color: rgb(29,24,25);
    color: beige;
    transition: 0.5s;
    border: 2px solid beige;
}

.contact {
    display: flex;
    gap: 8px;
}

.contact a {
    text-decoration: none;
    color: rgb(100, 100, 93);
}

.contact a:hover {
    color: beige;
    text-decoration: underline;
    transition: 0.5s;
}

@media (max-width: 1200px) {
    footer {
        padding: 13px 32px;
        gap: 10px;
    }
}

@media (max-width:600px) {
   
    footer {
        flex-direction: column;
        margin-top: 20px;
    }
}


