<section>
    <div class="card">
    <h1>{{'ABOUT.LORE' | translate}}</h1>
    <p>{{'ABOUT.LORETEXT' | translate}}</p>
    <h1>{{'ABOUT.ARC' | translate}}</h1>
    <p>{{'ABOUT.ARCTEXT' | translate}}
    </p>
 </div>
</section>

<section>
  <div  class="questions">
    <h2>{{'ABOUT.FAQ' | translate}}</h2>
    <div class="faq-container">
        <div *ngFor="let faq of faqList; let i = index" class="faq-item">
          <h3 (click)="toggleAnswer(i)" class="faq-question" [class.active]="faq.showAnswer">
            {{ faq.question }}
          </h3>
    
          <p  class="faq-answer"  class="faq-answer-container" [class.show]="faq.showAnswer">
            {{ faq.answer }}
          </p>
        </div>
      </div></div>
  </section>
