.card {
    background-color: var(--header-background);
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-top: 16px;
    border: 2px solid var(--text-color);
    padding: 12px 40px;
    max-width: 400px;
    gap: 8px;
}

.card img {
    width: 250px;
    height: 350px;
}

h1 {
    color: var(--text-color);
}

p{
    color: var(--p-color);
}