/* section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    color: rgb(133, 37, 37);
}

.card {
    display: flex;
    margin-top: 140px;
    gap: 80px;
}

.downloadCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(70, 57, 60);;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 3px solid black;
    border-radius: 20px;
}

button {
    margin-top: 28px;
    padding: 8px;
    background-color: rgb(97, 20, 20);
    border-radius: 16px;
    border: 2px solid black;
}

button:hover {
    cursor: pointer;
    background-color: brown;
    transition: 0.5s;
} */


section {
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
    color: beige;
    background-color: rgb(29,24,25);
    padding: 8px;
    border-radius: 8px;
}

.card {
    display: flex;
    margin-top: 140px;
    gap: 80px;
    padding: 40px;
}

.downloadCard {
    display: flex;
    flex-direction: column;
    background-color: rgb(29,24,25);
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 3px solid black;
    border-radius: 20px;
}

button {
    margin-top: 28px;
    padding: 8px;
    background-color: beige;
    border-radius: 16px;
    border: 2px solid black;
}

button:hover {
    cursor: pointer;
    background-color: rgb(29,24,25);
    transition: 0.5s;
    color: beige;
    border: 2px solid beige;
}

@media screen and (min-height: 964px) {
    section {
        min-height: 84vh;
    }    
}


@media screen and (min-height: 1100px) {
    section {
        min-height: 86vh;
    }    
}


@media screen and (min-height: 1280px) {
    section {
        min-height: 88vh;
    }    
}

@media screen and (min-width: 1500px) {
    .downloadCard {
        padding: 80px;
    }
    button {
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .card {
        flex-direction: column;
    }
}