section {
    padding: 40px;
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

form {
    display: flex;
    width: 600px;
    height: 42vh;
    flex-direction: column;
    background-color:rgb(29,24,25);
    padding: 20px;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
} 

h1{ 
    color: beige;
    font-size: 44px;
    margin-top: 8px;
}


input {
    width: 280px;
    height: 5vh;
    background-color: beige;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid rgb(153, 153, 134);
}

button {
    cursor: pointer;
    /* width: 240px;
    height: 5vh; */
    padding: 12px 40px;
    background-color: beige;
    margin-top: 12px;
    border-radius: 12px;
    font-size: 20px;
}

button:hover {
    background-color: rgb(29,24,25);
    border : 2px solid beige;
    transition: 0.5s;
    color: beige;
}

/* @media screen and (min-height: 964px) {
    section {
        min-height: 84vh;
    }    
}


@media screen and (min-height: 1100px) {
    section {
        min-height: 86vh;
    }    
}


@media screen and (min-height: 1280px) {
    section {
        min-height: 88vh;
    }    
    form {
        max-height: 32vh;
    }
} */

@media screen and (max-height: 900px) {
    h1 {
        font-size: 32px;
    }
    button {
        font-size: 16px;
        padding: 12px 16px;
    }
}

@media screen and (min-height: 1200px) {
    form {
        max-height: 38vh;
    }
}
