* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    
    
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(https://i.postimg.cc/50BWwPMf/DALL-E-2024-11-03-17-30-17-A-dark-abandoned-town-in-a-horror-setting-called-Hollowpoint-The-stre.webp);
background-color: rgb(58, 17, 17);
  }

  /* Define the light theme (default) */
:root {
  --background-color: beige;
  --text-color: rgb(29,24,25);
  --button-background: #007bff;
  --button-color: gray;
  --p-color: black;
  --header-background: rgb(216, 216, 192);
}
/* Define the dark theme */
body.dark-mode {
  --background-color: #000;
  --text-color: beige;
  --button-background: #333333;
  --button-color: beige;
  --p-color: gray;
  --header-background: rgb(29,24,25);
}

/* Use CSS variables throughout your styles */




header {
  background-color: var(--header-background);
}