<section>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="registerCard">
       
        <h1>Email:</h1>
           <input type="email" formControlName="email" placeholder="Enter email" >
            <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="incorrectEmail">
                <small style="color: gray">Please enter a valid email</small>
            </div>

           <h1>Password:</h1>
           <input type="password" formControlName="password" placeholder="Enter password">
           <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
            <small style="color: gray">Password must be at least 6 characters.</small>
          </div>
      
           <button type="submit" [disabled]="registerForm.invalid">Register</button>
    </form>
</section>
